  <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Boutcaz Website{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
	        		'bundles/Boutique/css/reset.css'
	        		'bundles/Boutique/css/base.css'
	        		'bundles/Boutique/css/accueil.css'
	        		'bundles/Boutique/css/region.css'
	        		'bundles/Boutique/css/annonce.css'
	        		'bundles/Boutique/css/signup.css'
	        		'bundles/Boutique/css/deposer.css'
	        		'bundles/User/css/profile.css'
	        		
	         %}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	  	    {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
{# Le header #}    

    	<div id="header">
    		<div id="header_box">
    			<div id="site_title">
    				<a href="{{ path('boutique_homepage') }}" class="region_title" alt="Logo Boutcaz" >
    					<img src="{{ asset('bundles/boutique/images/logo2.png') }}" alt="Logo Boutcaz "/>
    					
						{% if entete is defined and entete != false %}
						 
							{{ region.region }}
						
						{% endif %}
					</a>
				</div>
    			
    			<div id="authenticate_box">
    				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    				
    					<p class="connect">
    						<a href="{{ path('fos_user_security_logout') }}" class="signup" alt="Déposer une annonce" >Déconnexion</a> |
    						<a href="{{ path('fos_user_profile_edit') }}" class="signup" alt="Déposer une annonce" >{{ app.user.username }}</a>
    					</p>
					{% else %}
						<p id="create_acc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	    				<a href="{{ path('fos_user_registration_register') }}" alt="" class="" /> <input type="button" value="Inscription" class="signup" /></a>
	    				<a href="{{ path('fos_user_security_login') }}" alt="" class="" /> <input type="button" value="Connexion" class="signin" /></a>
    				
    				{% endif %}
    			</div>
    			<div class="clear"></div>
    		</div>
    	</div>
    	
    	
{# Sous le header #}

    	<div id="header_sub">
    	
	    		<div id="header_sub_box">
	    		
	    		{% if entete is defined  %}
	    			
	    			
	    		{% else %}
	    		
	    		    <h1 id="entete">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	    				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</h1>
					
					<div id="header_center_search">
						<a href="{{ path('deposer_homepage')}}" alt="" class="" /> <input type="button" value="Passer une annonce gratuite" class="mainsearch" /></a>
					</div>
	    		{% endif %}
	    			
					
	    		</div>

    	</div>
    	
		{% if entete is defined  %}
	    			
	    			
	    {% else %}

    	{# BANDEAU BLANC AVEC LA RECHERCHE #}
    	<div id="sub_header"> 
    	
	    		<div id="sub_header_box">
	    		
	    		{# PARTIE A MODELER #}
		    		{% block navigation %}
		    		
		    			{% if profilnavigation is defined and profilnavigation != NULL %}
		    			
		    				{{ render(controller('UserBundle:User:navigation', {'navigation': navigation} )) }}
		    			
						{% else %}
		    			
			    			{{ render(controller('BoutiqueBundle:Boutique:navigation')) }}
			    			
						{% endif %}
			    	
			    	{% endblock %}
			    </div>
    		
    	</div>
    	{% endif %}
    	
    	
{# Contenu du site #}  
			
    	<div id="content">
        	{% block body %}{% endblock %}
       
        
        {% block footer %}
        	{{ render(controller("BoutiqueBundle:Boutique:footer")) }}
        {% endblock footer%}
        
         </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
