{% trans_default_domain 'FOSUserBundle' %}
<div class="fos_user_user_show">
	<div id="profile_edit_pass">
		<h3 class="profile_etape">1 - Modification du mot de passe</h3>
			<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
			
				<div class="error">{{ form_errors(form.current_password) }}</div>
				{{ form_label(form.current_password) }}
				{{ form_widget(form.current_password) }}
				
				<div class="error">{{ form_errors(form.plainPassword.first) }}</div>
				{{ form_label(form.plainPassword.first) }}
				{{ form_widget(form.plainPassword.first) }}
				
				<div class="error">{{ form_errors(form.plainPassword.second) }}</div>
				{{ form_label(form.plainPassword.second) }}
				{{ form_widget(form.plainPassword.second) }}
			    
			    <div id="profile_submit">
						<input type="submit" value="{{ 'change_password.submit'|trans }}" class="submit"/>
					</div>
			</form>
	</div>
</div>
