{% extends('::base.html.twig') %}

{% block body %}
	
<div id="content_region_box">
		
		<div id="content_annonce_left">
		
{# Début des conteneurs des annonces #}
   	    
   	    <div class="sp_box">
						
						<div class="sp_box_annonce_img">
							<img src="{{ asset('bundles/Boutique/images/tablette.png') }}" class="img_annonce" alt="Image de l'annonce" />
						</div>
						
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-vert_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title"><a href="{{ path('show_homepage') }}" class="annonce_title">Un titre d'annonce plutot simpa</a></h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>	
						</div>
						
						<div class="sp_box_annonce_bottom_region">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> <span class="tarif">1800 euros </span></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> Boutique</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/picture_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 3 images</li>
						</ul>
					 </div>
					
   	    </div>
   	    
   	    <div class="sp_box">
						
						<div class="sp_box_annonce_img">
							<img src="{{ asset('bundles/Boutique/images/pub.jpg') }}" class="img_annonce" alt="Image de l'annonce" />
						</div>
						
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-red_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title"><a href="{{ path('show_homepage') }}" class="annonce_title">Un titre d'annonce plutot simpa</a></h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>	
						</div>
						
						<div class="sp_box_annonce_bottom_region">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> <span class="tarif">1800 euros </span></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> Sans boutique</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/picture_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 3 images</li>
						</ul>
					 </div>
					
   	    </div>
   	    
		<div class="sp_box">
						
						<div class="sp_box_annonce_img">
							<img src="{{ asset('bundles/Boutique/images/imac.png') }}" class="img_annonce" alt="Image de l'annonce" />
						</div>
						
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-blue_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>	
						</div>
						
						<div class="sp_box_annonce_bottom_region">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> <span class="tarif">1800 euros </span></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> Sans boutique</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/picture_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 3 images</li>
						</ul>
					 </div>
					
   	    </div>
   	    
   	    <div class="sp_box">
						
						<div class="sp_box_annonce_img">
							<img src="{{ asset('bundles/Boutique/images/tablette.png') }}" class="img_annonce" alt="Image de l'annonce" />
						</div>
						
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-vert_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>	
						</div>
						
						<div class="sp_box_annonce_bottom_region">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> <span class="tarif">1800 euros </span></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> Boutique</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/picture_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 3 images</li>
						</ul>
					 </div>
					
   	    </div>
   	    
   	    <div class="sp_box">
						
						<div class="sp_box_annonce_img">
							<img src="{{ asset('bundles/Boutique/images/pub.jpg') }}" class="img_annonce" alt="Image de l'annonce" />
						</div>
						
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-red_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>	
						</div>
						
						<div class="sp_box_annonce_bottom_region">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> <span class="tarif">1800 euros </span></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> Sans boutique</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/picture_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 3 images</li>
						</ul>
					 </div>
					
   	    </div> {# Fin des conteneurs des annonces #}


	</div> {# Fin du conteneur de gauche #}

	
	{# Début du conteneur de droite #}

	<div id="content_annonce_right">
			
			<div class="sponsored_content_region">
				<h3 class="stat_region"><a href="{{ path('region_homepage', { 'slug': slug }) }}" class="" alt="" />23 138</a>
							 Annonces / <a href="{{ path('region_homepage', { 'slug': slug }) }}" class="" alt="" />18 Boutiques</a> dans votre région </h3>
	
	{# Début du conteneur sponsor de région #}
				
				 
				 
   
			</div> {# Fin du conteneur sponsor de région #}
			
			
			
{# BLOC A MODIFIER CRÉER JUSTE LA POUR MEUBLER  #}	
			
			
			<div class="sponsored_content_region"> 
      


	
	{# Début du conteneur sponsor de région #}
				
				 <div id="region_sponsor">
				 <div class="ruban">     
				        <h2>Annonces sponsorisées</h2>     
				      </div>     
				      <div class="ruban_gauche"></div>
				      <div class="ruban_droit"></div>
					 	{# Début du contenu sponsor de région #}
						 	<div class="region_sponsor_box">
							 		
							 		<div class="sponsor_pic">
							 				<img src="{{ asset('bundles/boutique/images/imac.png') }}" class="pic" alt="Sponsor" />
							 		</div>
							 		
							 		<div class="sponsor_txt">
							 			<h3 class="sponsor_title">Macbook unibody ( Mi 2007 ) 13"</h3>
							 			<p class="sponsor_desc">
							 				Par Quelquechose le 22/01/13 à Vinon sur verdon ( 83 )
							 			</p>
							 		</div>
							 		<div class="clear"></div>

						 	</div>
						 	
						 	<div class="region_sponsor_box">
							 		
							 		<div class="sponsor_pic">
							 				<img src="{{ asset('bundles/boutique/images/tablette.png') }}" class="pic" alt="Sponsor" />
							 		</div>
							 		
							 		<div class="sponsor_txt">
							 			<h3 class="sponsor_title">Macbook unibody ( Mi 2007 ) 13"</h3>
							 			<p class="sponsor_desc">
							 				Par Quelquechose le 22/01/13 à Vinon sur verdon ( 83 )
							 			</p>
							 		</div>
							 		<div class="clear"></div>

						 	</div>
						 	
						 	<div class="region_sponsor_box">
							 		
							 		<div class="sponsor_pic">
							 				<img src="{{ asset('bundles/boutique/images/pub.jpg') }}" class="pic" alt="Sponsor" />
							 		</div>
							 		
							 		<div class="sponsor_txt">
							 			<h3 class="sponsor_title">Macbook unibody ( Mi 2007 ) 13"</h3>
							 			<p class="sponsor_desc">
							 				Par Quelquechose le 22/01/13 à Vinon sur verdon ( 83 )
							 			</p>
							 		</div>
							 		<div class="clear"></div>

						 	</div>
						 	
						 	<div class="region_sponsor_box">
							 		
							 		<div class="sponsor_pic">
							 				<img src="{{ asset('bundles/boutique/images/imac.png') }}" class="pic" alt="Sponsor" />
							 		</div>
							 		
							 		<div class="sponsor_txt">
							 			<h3 class="sponsor_title">Macbook unibody ( Mi 2007 ) 13"</h3>
							 			<p class="sponsor_desc">
							 				Par Quelquechose le 22/01/13 à Vinon sur verdon ( 83 )
							 			</p>
							 		</div>
							 		<div class="clear"></div>

						 	</div>

				 </div>{# Fin du contenu sponsor de région #}
				 
				 
			</div>{# Fin du conteneur sponsor de région #}
			
			
			
{# BLOC A MODIFIER CRÉER JUSTE LA POUR MEUBLER  #}			
			<div class="sponsored_content_region">
			
				<div id="gbl_email_search">
				 <div class="ruban">     
					        <h2>Mémoriser ma recherche</h2>     
					      </div>     
					      <div class="ruban_gauche"></div>
					      <div class="ruban_droit"></div>
	
				
					<div class="region_sponsor_box">
					<p class="gbl_sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididun.</p>
							<input type="text" class="search" placeholder="Votre recherche" >
							<input type="email" class="search" placeholder="Votre email" >
							<input type="submit" class="submit" value="Mémoriser ma recherche" />
	
					
					</div>
					
				</div>
			</div>
			
			
	</div>
	{# Fin du conteneur de droite #}
	
	<div class="clear"></div>
	
	
</div>{# Fin block complet #}
		
	
{% endblock body %}
