{% extends('::base_wlc.html.twig') %}

{% block body %}
	
	<div id="content_box">
	
		{# BOX LEFT #}
		
		<div id="content_box_left">
			<img src="{{ asset('bundles/Boutique/images/carte.png') }}" class="ribbon_ltl" alt="ribbon" /></div>
			
			{# BOX RIGHT #}
			
			
		<div id="content_box_right">
			
			<div id="sponsored">
			
				<div class="sp_box">
					
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-blog_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>
							
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..</p>	
						</div>	
					
					<div class="sp_box_annonce_bottom">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/user_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
						</ul>
					 </div>
					
				</div>
				
				<div class="sp_box">
					
						<div class="sp_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-blog_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
						</div>
						
						<div class="sp_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>
							
							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..</p>	
						</div>	
					
					<div class="sp_box_annonce_bottom">
						<ul class="sp_box_annonce_bottom_ul">
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/user_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="sp_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
						</ul>
					 </div>
					
				</div>
				
			</div>
			
		</div>
		
		
		{# BOX BOTTOM  #}
	
{% endblock body %}
