{% extends('::base.html.twig') %}


{% block body %}
	<div id="content_depose_box">{# Conteneur global  #}		
		
		<div id="depose_box">{# Conteneur de depose #}	
		
		
		<form action="{{ path('deposer_homepage') }}" method="post" {{ form_enctype(form) }}>
		
		{{ form_start(form) }}
				<div id="depose_box_left"> {# Conteneur de gauche #}	
				
					<h3 class="annonce_etape">1 - Votre annonce</h3>
					
							<div id="dep_head"> {# Conteneur pour le titre , catégorie et la description #}	
									
									{# Le titre de l'annonce  #}
									<div class="error"=>{{ form_errors(form.titre) }}</div>
									{{ form_label(form.titre, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.titre)}}
									
									{# Le descriptif  #}
									<div class="error"=>{{ form_errors(form.description) }}</div>
									{{ form_label(form.description, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.description)}}
									
									{# Le tarif #}	
									<div class="error"=>{{ form_errors(form.tarif) }}</div>
									{{ form_label(form.tarif, label|default(null), { 'label_attr': { 'class': 'label_tarif' } }) }}
									{{ form_widget(form.tarif)}}
									
									<p class="infos">*Veuillez ne pas inclure "vends, achete ou donne" dans vos titres, le type d'annonce gère cela.</p>
									
							</div> {# Fin du conteneur pour le titre , catégorie et la description #}
						
					<h3 class="annonce_etape">2 - Catégorie</h3>	
					
					
							<div id="dep_main"> {# Conteneur pour les catégories #}	
									
									{% if form.departement is defined %}
									{# Le département  #}
									<div class="error"=>{{ form_errors(form.departement) }}</div>
									{{ form_label(form.departement, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.departement)}}
									{% endif %}
									
									{% if form.ville is defined %}
									{# La ville  #}
									<div class="error"=>{{ form_errors(form.ville) }}</div>
									{{ form_label(form.ville, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.ville)}}
									{% endif %}
									
									{# Le categorie #}	
									<div class="error"=>{{ form_errors(form.categorie) }}</div>
									{{ form_label(form.categorie, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.categorie)}}
									
									{# Le type de proposition #}	
									<div class="error"=>{{ form_errors(form.proposition) }}</div>
									{{ form_label(form.proposition, label|default(null), { 'label_attr': { 'class': 'label' } }) }}
									{{ form_widget(form.proposition)}}
						
									
									
							</div> {# Fin du Conteneur pour les catégories #}
							

               <h3 class="annonce_etape">5 - Images & Vidéos </h3>	
					
							<div id="dep_picture"> {# Conteneur pour les images #}	
									
									{# Le pseudo #}	
									<label class="label">Photo principal</label>
									
									 {{ form_widget(form.image)}}
									
									{#
									<label class="label">Photo 2</label>
									<input type="file" class="file" />
									<label class="label">Photo 3</label>
									<input type="file" class="file" />
									#}
									
							</div> {# Fin du Conteneur pour les images #}
							
						<div id="dep_submit">
							<input type="submit" value="Créer mon annonce maintenant !" id="submit" />
						</div>
				
				
				{{ form_rest(form) }}		
				{{ form_end(form) }}
				</form>
				
				
				</div> {# Fin du conteneur de gauche #}	
				
				<div id="depose_box_right">{# Conteneur de droite #}
					<div class="ruban_dep">     
				        <h2>Actualités</h2>     
				      </div>     
				      <div class="ruban_dep_gauche"></div>

						<div class="depose_box_right_sponsor">
						
								<div class="depose_box_right_sponsor_box">
									<img src="{{ asset('bundles/boutique/images/imac.png') }}" class="annonce_sponsor" alt="Sponsor title" />
									<h4 class="annonce_sponsor_title">ViLLA 3 Faces EXPOSITION 1 etage et jardin arbore</h4>
								</div>
						</div>
						
						<div class="depose_box_right_sponsor">
						
								<div class="depose_box_right_sponsor_box">
									<img src="{{ asset('bundles/boutique/images/pub.jpg') }}" class="annonce_sponsor" alt="Sponsor title" />
									<h4 class="annonce_sponsor_title">Nice / Imac 21" pour 2100euros</h4>
								</div>
						</div>
						
						<div class="depose_box_right_sponsor">
						
								<div class="depose_box_right_sponsor_box">
									<img src="{{ asset('bundles/boutique/images/tablette.png') }}" class="annonce_sponsor" alt="Sponsor title" />
									<h4 class="annonce_sponsor_title">ViLLA 3 Faces EXPOSITION 1 etage et jardin arbores</h4>
								</div>
						</div>
				</div>

		<div class="clear"></div>
		</div> {# Fin du conteneur de depose #}	
		
	</div>{# Fin du conteneur global #}	
{% endblock %}
