{% extends('::base.html.twig') %}

{% block body %}
	<div id="content_box">
		<div id="sponsored">
			
				<div class="show_box">
					
						<div class="show_box_img">
						
							<img src="{{ asset('bundles/Boutique/images/icones/ribbon-blue_ltl.png') }}" class="ribbon_ltl" alt="ribbon" />
							
						</div>
						
						<div class="show_box_annonce">
							<h3 class="title">Un titre d'annonce plutot simpa</h3>
							<span id="tarif">Tarif : 16 000 euros</span>

							<ul class="sp_top_infos">
								<li class="sp_top_info"><p class="infos">Par</p> Quelqu'un</li>
								<li class="sp_top_info"><p class="infos">Le </p> 21/01/14</li>
								<li class="sp_top_info"><p class="infos">Dans</p> Catégorie</li>
							</ul>
							<p class="location">A Vinon sur verdon dans le ( 83 )</p>
						
						
						</div>
				
				
				
{# BLOC DE DROITE #}				
				<div id="show_annonce_right">
					<div id="uploaded_picture">
					
						<div id="big_picture"><img src="{{ asset('bundles/Boutique/images/imac.png') }}" id="picture_big" alt="Nombre d'annonce" /></div>
					
						<ul id="picture">
							<li class="picture"><img src="{{ asset('bundles/Boutique/images/imac.png') }}" class="picture" alt="Nombre d'annonce" /></li>
							<li class="picture"><img src="{{ asset('bundles/Boutique/images/tablette.png') }}" class="picture" alt="Nombre d'annonce" /></li>
							<li class="picture"><img src="{{ asset('bundles/Boutique/images/pub.jpg') }}" class="picture" alt="Nombre d'annonce" /></li>
						</ul>
					</div>
				</div>
{# FIN BLOC DE DROITE #}		

	
{# BLOC DE GAUCHE #}
				<div id="show_annonce_left">
				
					<div id="description">

							<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..
								 </br>
								 </br>
								 </br>
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..	
								 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								 Ut enim ad minim veniam, quis nostrud exercitation..
							</p>
					</div>
							
							{# Commentaires #}
							
								<div id="commentaires">
									<div id="commentaire_input">
										<h3 id="com">Une question, un commentaire ?</h3>
										<input type="text" class="comm" placeholder="Appuyez sur entrer pour valider" />
									</div>
									
										<div class="commentaire_box">
											
											<div class="commentaire_avatar">
												<img src="{{ asset('bundles/Boutique/images/no_avatar.png') }}" class="avatar" alt="no avatar" />
											</div>
											
											<div class="commentaire_txt">
												<h4 class="auteur">Pseudo</h4>
												<p class="date">21/12/14 à 21h32</p>
												<p class="description">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
												</p>
											</div>
											
										</div>
										
										<div class="commentaire_box">
											
											<div class="commentaire_avatar">
												<img src="{{ asset('bundles/Boutique/images/no_avatar.png') }}" class="avatar" alt="no avatar" />
											</div>
											
											<div class="commentaire_txt">
												<h4 class="auteur">Pseudo</h4>
												<p class="date">21/12/14 à 21h32</p>
												<p class="description">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
												</p>
											</div>
											
										</div>
										
										<div class="commentaire_box">
											
											<div class="commentaire_avatar">
												<img src="{{ asset('bundles/Boutique/images/no_avatar.png') }}" class="avatar" alt="no avatar" />
											</div>
											
											<div class="commentaire_txt">
												<h4 class="auteur">Pseudo</h4>
												<p class="date">21/12/14 à 21h32</p>
												<p class="description">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
												</p>
											</div>
											
										</div>
										
										<div class="commentaire_box">
											
											<div class="commentaire_avatar">
												<img src="{{ asset('bundles/Boutique/images/no_avatar.png') }}" class="avatar" alt="no avatar" />
											</div>
											
											<div class="commentaire_txt">
												<h4 class="auteur">Pseudo</h4>
												<p class="date">21/12/14 à 21h32</p>
												<p class="description">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
												</p>
											</div>
											
										</div>
											
								</div>
								
							{# FIN DES Commentaires #}
					
							
				</div>									
{# FIN DE BLOC DE GAUCHE #}							
			

					<div class="clear"> </div>
					
					<div class="show_box_annonce_bottom">
						<ul class="show_box_annonce_bottom_ul">
							<li class="show_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li>
							<li class="show_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/boutique_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="show_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/user_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
							<li class="show_box_annonce_bottom_li"><img src="{{ asset('bundles/Boutique/images/icones/annonce_ico.png') }}" class="ico" alt="Nombre d'annonce" /> 366</li></li>
						</ul>
					 </div>
					 
					 <div class="clear"> </div>
				
				</div>
				
	</div>

{% endblock %}