{% trans_default_domain 'FOSUserBundle' %}
<div class="fos_user_user_show">
<div id="profile_edit">

	<div id="profil_edit_left"> {# DEBUT DU BLOC LEFT #}

	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	
			
				<h3 class="profile_etape">1 - Votre compte</h3>
				
					<fieldset id="profile_field">
							
								<div class="error">{{ form_errors(form.email) }}</div>
								<label class="profile">Email:</label>
								{{ form_widget(form.email) }}

							

								<div class="error">{{ form_errors(form.username) }}</div>
								<label class="profile">Nom d'utilisateur</label>
								{{ form_widget(form.username) }}

								<div class="error">{{ form_errors(form.region) }}</div>
								<label class="profile">Votre région:</label>
								{{ form_widget(form.region) }}

								<div class="error">{{ form_errors(form.type) }}</div>
								<label class="profile">Vous êtes un(e):</label>
								{{ form_widget(form.type) }}
								
								<div class="error">{{ form_errors(form.current_password) }}</div>
								<label class="profile">Mot de passe:</label>
								{{ form_widget(form.current_password) }}
					
					</fieldset>
					
					<div id="profile_submit">
						<input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="submit"/>
					</div>
					
					{{ form_rest(form) }}

				</form> {# Fin du formulaire #}
				
	</div> {# FIN DU BLOC LEFT #}
	
	<div id="profil_edit_right">
	
		<div class="profil_edit_right_box">
		<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"class="fos_user_profile_edit">
	
			
				<h3 class="profile_etape">2 - Informations personnelles</h3>
				
					<fieldset id="profile_field">
							
							<div class="profil_etape_left">
								<div class="error">{{ form_errors(form.username) }}</div>
								<label class="profile">Nom de famille:</label>
								<input type="text" class="login" />
							</div>
							
							<div class="profil_etape_right">	
								<div class="error">{{ form_errors(form.region) }}</div>
								<label class="profile">Prénom:</label>
								<input type="text" class="login" />
							</div>
							<div class="clear"></div>
							
							<div class="profil_etape_left">
								<div class="error">{{ form_errors(form.type) }}</div>
								<label class="profile">Téléphone:</label>
								<input type="text" class="login" />
							</div>
							<div class="profil_etape_right">	
								<div class="error">{{ form_errors(form.region) }}</div>
								<label class="profile">Confidentialité:</label>
								<select>
									<option>Masquer mon numéro</option>
									<option>Afficher mon numéro</option>
								</select>
							</div>
							
							<div class="clear"></div>
							
							<div class="profil_etape_left">	
								<div class="error">{{ form_errors(form.current_password) }}</div>
								<label class="profile">Département:</label>
								<select>
									<option>Choisissez un département</option>
								</select>
							</div>
							
							<div class="profil_etape_right">
								<div class="error">{{ form_errors(form.current_password) }}</div>
								<label class="profile">Ville:</label>
								<select>
									<option>Choisissez une ville</option>
								</select>
							</div>
							
							<div>
								<label class="profile">Description:</label>
								<textarea class="login" id="description"></textarea>
							</div>
												
					</fieldset>
					
					<div id="profile_submit">
						<input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="submit"/>
					</div>
					
					{{ form_rest(form) }}

				</form> {# Fin du formulaire #}
				</div>
	</div>
	
	<div class="clear"></div>

</div>

</div>